body, #header {
    background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/cardboard.png");
    font-family: 'Varela Round', sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#header-img {
    height: 100%;
    margin-left: 50px;
}

ul {
    margin: 0;
    list-style-type: none;
}

li {
    display: inline;
    margin: 0 20px;
}

a, a:hover {
    color: initial;
    text-decoration: none;
}

#header, #header-shadow {
    height: 60px;
    padding-bottom: 10px;
}

main {
    margin: auto;
    width: 1000px;
}

main > div {
    margin-top: 60px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

#features {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 20fr 80fr;
    grid-template-rows: auto;
    grid-gap: 40px;
    justify-items: center;
    align-items: center;
}

.feature-title {
    font-weight: bold;
    font-size: 1.2em;
}

i {
    font-size: 4em;
    text-align: center;
}

#hkteam {
    border: 1px solid;
    width: 560px;
    height: 315px;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 100%;
    height: 100%;
}

#subscribe, #copyright {
    text-align: center;
}

#email {
    width: 200px;
    margin-bottom: 10px;
}

#email, #submit {
    font-size: 14px;
}